<div class="container">
 <div class="row">
  <div class="col-md-8 offset-md-2 mt-5">
    <p id="notice"><%= notice %></p>
      <h3 class="mb-5">
        <%= link_to schedules_path do %>
        <i class="fa-solid fa-less-than"></i>
        <% end %>
        <%= l(@schedule.start_time, format: :date) %>
      </h3>
<%= form_with model: @schedule do |f| %>
<h4>タイトル</h4>
  <%= f.text_field :title, class: "form-group" %>
<h4>内容</h4>
  <%= f.text_area :body, class: "form-group" %><br>
 <div class="time"><br>
  <div class="form-tag">時間</div>
   <%= f.time_select :start_time %>-
   <%= f.time_select :end_time %>
 </div>
 <%= f.submit "保存" %>
 <% end %>
</dit>
 </dit>
  </dit>