<p id="notice"><%= notice %></p>

<div class="toppage">
  <div class="container">
    <div class="row align-items-center">
      <div>
        <%= link_to customer_path(current_customer) do %>
         <i class="fa-solid fa-gear"></i>
        <% end %>
      </div>
      <h1 class="top">カレンダー</h1>
    </div>
  </di>

  <br>

  <div class="row">
    <div class="col-md-4">
      <div class="schedule">今後の予定一覧</div>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>タイトル</th>
            <th>日程</th>
          </tr>
        </thead>
        <tbody>
          <% @schedules.each do |schedule| %>
            <tr>
              <td><%= link_to schedule.title , schedule %></td>
              <td><%= schedule.start_time.strftime("%m-%d") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <br>
    <div class="col-md-8">
      <%= month_calendar events: @schedules do |date, schedules| %>
        <div class="date">
          <%= link_to  date.day, new_schedule_path(date: date) %>
        </div>
        <% schedules.each do |schedule| %>
          <div>
            <%= link_to schedule.title, schedule %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>